.textAreaError {
    border: solid red 2px;
    width: 70%;
}

.InputError {
    border: solid red 2px;
    width: 70%;

}

.textError {
    color: red;
}

.commonError {
    color: red;
}

.Input,
.textArea {
    width: 50%;
}





















