.textAreaError {
    border: solid red 2px;
    width: 98%;
}

.InputError {
    border: solid red 2px;
}

.textError {
    color: red;
}

.commonError {
    color: red;
}

.Input,
.textArea {
    width: 98%;
}





















