.textAreaError {
    border: solid red 2px;
    width: 100%;
}

.InputError {
    border: solid red 2px;
    width: 100%;

}

.textError {
    color: red;
}

.commonError {
    color: red;
}

.Input,
.textArea {
    width: 100%;
}





















