@mixin myFont1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: Algerian;
  color: $color;
}

@mixin myFontWithParams($paramsColor, $padd... ) {
  color: $paramsColor;
  padding: $padd;
}


@mixin prostoEsheOdnaSsilka1($maiColor, $activeColor ) { // входящие цвета
  color: $maiColor; // основной цвет ссылки
  &:hover { // цвет ссылки при наведении
    color: lighten($maiColor, 25%); // функция засветления от основного цвета
  }
  &:active {
    color: darken($activeColor, 5%); // функция затенения от основного цвета
  }

}

@mixin myGrid ($cols,$margin ) {
  float: left;
  background: red;
  margin-right:$margin;
  margin-bottom:$margin;
  height: 100px;
  @if ($cols>5) {
    width: 100%;
  }
  @else {
    width: (100%)/($cols)-($margin*(-1+ $cols))/($cols);
  }

  &:nth-child(#{$cols}n) { // не понял сам, но эта хрень для последнего прямоугольника в ряду сетает margin-right 0
    margin-right:0px;
  }
}
