.messagesCommon {
    display: flex;
    align-items: center;
    margin: 0.2rem;

}
.messageMyId {
    justify-content: right;
}
.messageNotMyId {
    justify-content: left;
}

.insideToastMy {
    max-width: max-content;
    background-color: var(--color3);
}
.insideToastNotMy {
    max-width: max-content;
}

.time {
    margin-top: 0.7rem;
    font-size: 0.7rem;
    margin-left: 1rem;
}
.closeButton {
    margin-top: 0.8rem;
    font-size: 0.6rem;
}
