.messageCommon {
    padding: 8px;
    width: max-content;
}

.timeStyle {
    font-size: 10px;
    text-align: right;
}

.x {
    width: 15px;
    padding-left: 5px;
}

.messageswrapper {
    display: grid;
    grid-template-areas:
            'notmy my';
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border-radius: 5px;

}

.messagesCommon {
    display: flex;
    align-items: center;
    margin: 0.2rem;
    /*margin-left: 2rem;*/
    /*margin-right: 2rem;*/
}
.messageMyId {
    justify-content: right;
}
.messageNotMyId {
    justify-content: left;
}

.insideToastMy {
    max-width: max-content;
    background-color: var(--insideToastMy);
}
.insideToastNotMy {
    max-width: max-content;
}

.time {
    margin-top: 0.7rem;
    font-size: 0.7rem;
    margin-left: 1rem;
}
.closeButton {
    margin-top: 0.8rem;
    font-size: 0.6rem;
}
