.messagesCommon {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0.2rem;

}
.messageMyId {
    justify-content: right;
}
.messageNotMyId {
    justify-content: left;

}

.insideToastMy {
    position: relative;
    max-width: max-content;
    color: var(--color1);
    background-color: var(--color3);
}
.insideToastNotMy {
    position: relative;
    max-width: max-content;
    color: var(--color3);
    background-color: var(--color1);
}

.time {
    position: absolute;
    right: 0.3rem;

    bottom: 0.3rem;
    font-size: 0.7rem;
    opacity: 0.5;
}
.closeButton {
    position: absolute;
    right: 0.3rem;

    top: 0.3rem;
    font-size: 0.6rem;
    opacity: 0.3;

}

.placeholder {
    width: 2rem;
}
