.MyPosts {
    display: grid;
    grid-template-columns: 1fr;
}

.legendStyle {
    font-size: 1.5rem;
    font-weight: bold;
}

.fieldSetStyle {
    padding: 10px;
}

/*.errorText {
    color: red;
}*/

.fieldButtonGrid {
    display: grid;
    grid-template-columns: 1fr 4rem;
}
