.item {
    color: red;
}

.posts {
    color: green;
}

.toCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.FileUploadInt {
width: 90%;
margin: 1rem;
}

.posRelative {
    position:relative;
}

.editProfileStatus {
    transition: 2s ease-in-out;
    opacity: 0.5;
    transform: scale(1.3);
    position: absolute;
    bottom: 0.3rem;
    left: 15rem;
}

.profilePhotoIMG {
    border-radius: 30px;
    transition: 0.2s ease-in-out;

}
