.userPhoto {
    border-radius: 30px;
    width:80px;
    transition: 0.2s ease-in-out;

}
.userPhoto:hover {
    transform: scale(0.95) translate(+0px, 2px);
    -ms-transform: translate(10px, 0px);
}

.users {

}

.preloader {
    background-color: white;

}

.textMaxWidth {
    max-width: 250px;
    height: 90px;
}

.line { /*линия подчеркивания*/
    width: 200px;
    height: 3px;
    background-color: rgb(184,209,244);
    margin: 15px auto 30px;
}
