.userPhoto {
    border-radius: 50%;
    max-width: 3rem;
    position: absolute;
    left: 2rem;
    top:1rem;
}
.name {
    font-size: 1.2rem;
    position: absolute;
    left: 6rem;
    top: 0.6rem;
    font-weight: bold;
    color: #282c34;
}
.status{
    font-size: 0.8rem;
    position: absolute;
    left: 6rem;
    top: 2.3rem;
    color: rgba(100, 100, 100, 1);
}

.star {
    position: absolute;
    left: 0.3rem;
    top: 0.3rem;
    transition: 0.2s ease-in-out;
    max-width: 1.5rem;
}


.myCard {
    --bs-card-bg: var(--color3); /*цвет карточек в Users*/
    height: 5rem;
}

.preloader {
    background-color: white;
}

.textHeight {
    height: 200px;
}

.line { /*линия подчеркивания*/
    width: 100px;
    height: 1px;
    background-color: rgb(206,212,218);
    margin: auto;
    margin-bottom: 1rem;
}

.myAlignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.favImage {
    max-width: 1rem;
}



.star:hover {
    transform: translate(+0px, -2px);

}
