.dialogs {
    display: grid;
    grid-template-columns: 200px 1fr;
}
.dialogList {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.dialogListHeader {
    text-align: center;
}

.messagesHeader {
    text-align: center;
}

div.knopka {
    text-decoration: none; /* убирать подчёркивание у ссылок */

    user-select: none; /* убирать выделение текста */
    outline: none; /* убирать контур в Mozilla */
}
div.knopka:hover { background: rgb(100,100,255,0.2); } /* при наведении курсора мышки */


.dialogItemGreed {
    display: grid;
    grid-template-columns: 160px 1fr;
}


.dialog {
    font-size: 10px;
    font-weight: bold;

}
.dialogCurrent {
    font-weight: bold;
    background: rgb(100,100,255,0.5)
}

.dialogImg {
    border-radius: 30px;
    width: 50px;
    padding: 5px;
    transition: 0.2s ease-in-out;
}
.dialogImg:hover {
    transform: scale(0.95) translate(+3px, 0);
    -ms-transform: translate(10px, 0px);
}

.FieldLeft {

}

.buttonRight {
padding-left: 10px;
padding-right: 10px
}

.FieldButtonGreed {
    display: grid;
    grid-template-columns: 1fr 65px;
}

.dialogContainer {
    background: rgb(255,50,50,0.2);
}

.x {
    width: 15px;
    padding-right: 5px;
    padding-top: 5px;
}
