
.imgTasks {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: auto;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    border: 6px solid var(--color3);
}
.imgTasks:hover {
    transform: scale(0.98) translate(+0px, 0);
    -ms-transform: translate(10px, 0px);

}

.TasksContainer {
    max-width: 30rem;
}

.taskHeader {
    font-style: italic;
    border-radius: 0.5rem;
    height: 2rem;
    color: #999999;
    margin-top: 1rem;

}
