.Fixed { /* фиксация полей - общая часть */
    position: fixed;
}

.messages2NameAndProfileLink {/* поле отображения фото собеседника и ссылки на его профиль */
    background: var(--color5);
    top: var(--HeaderHeight);
    height: 4rem;
    right: 0;
    z-index: 100;
}

.messages2ChooseDialog { /*предложение выбрать диалог на странице dialogs2 вместо поля сообщений */
    background: green;
    left: var(--dialog2ListWidth);
    top: 3.5rem;
    bottom: 1rem;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.messages2RenderMessages {/* поле отрисовки самих сообщений*/
    background: var(--color3);
    border-bottom: 1px solid var(--color1);
    border-top: 1px solid var(--color1);
    top: 7.5rem;
    bottom: 3.5rem;
    right: 0;
    overflow: auto;
}

.messages2PrintMessage { /*поле печати новых сообщений */
    background: var(--color5);
    height: 2.5rem;
    bottom: var(--FooterHeight);
    right: 0;
}

.MobileMessagesLeft { /* отступ слева для сообщений на мобильных устройствах*/
    left: 0;
}

.DesktopMessagesLeft { /* отступ слева для сообщений на десктопе*/
    left: var(--dialog2ListWidth);
}

.Msg2HeaderName {
    position: absolute;
    left: 6rem;
    top: 0.5rem;
}
.Msg2Headerid {
    position: absolute;
    left: 15rem;
    top: 0.5rem;
}
.Msg2HeaderPhoto {
    position: absolute;
    left: 1.5rem;
    width: 3rem;
    border-radius: 50%;
    top: 0.5rem;
}

.Msg2HeaderActivityDate {
    position: absolute;
    left: 6rem;
    top: 2rem;
    font-size: 0.8rem;
    color: var(--color3)
}
