.Fixed { /* фиксация полей - общая часть */
    position: fixed;
}

.messages2NameAndProfileLink {/* поле отображения фото собеседника и ссылки на его профиль */
    background: var(--color5);
    top: var(--HeaderHeight);
    height: 4rem;
    right: 0;
    z-index: 100;
}

.messages2ChooseDialog { /*предложение выбрать диалог на странице dialogs2 вместо поля сообщений */
    background: green;
    left: var(--dialog2ListWidth);
    top: 3.5rem;
    bottom: 1rem;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.messages2RenderMessages {/* поле отрисовки самих сообщений*/
    background: var(--color3);
    border-bottom: 1px solid var(--color1);
    border-top: 1px solid var(--color1);
    top: 7.5rem;
    bottom: 3.5rem;
    right: 0;
    overflow: auto;
}

.messages2PrintMessage { /*поле печати новых сообщений */
    background: var(--color5);
    height: 2.5rem;
    bottom: var(--FooterHeight);
    right: 0;
}

.MobileMessagesLeft { /* отступ слева для сообщений на мобильных устройствах*/
    left: 0;
}

.DesktopMessagesLeft { /* отступ слева для сообщений на десктопе*/
    left: var(--dialog2ListWidth);
}

.Msg2HeaderName { /* имя в шапке сообщений*/
    position: absolute;
    left: 6rem;
    top: 0.5rem;
}
.Msg2Headerid { /* id в шапке сообщений */
    position: absolute;
    left: 15rem;
    top: 0.5rem;
}
.Msg2HeaderPhoto { /* фото в шапке сообщений*/
    position: absolute;
    left: 1.5rem;
    width: 3rem;
    border-radius: 50%;
    top: 0.5rem;
}

.Msg2HeaderActivityDate { /* дата активности в шапке сообщений */
    position: absolute;
    left: 6rem;
    top: 2rem;
    font-size: 0.8rem;
    color: var(--color3)
}

.myIdNotMyIdMsg2ComExt { /* общая часть тела сообщений - внешний контейнер*/
    display: flex;
    align-items: center;
    position: relative;
}

.myIdMessageExt { /* для моих сообщений - внешний контейнер*/
    justify-content: right;
}

.NOTmyIdMessageExt {/* для сообщений собеседника - внешний контейнер*/
    justify-content: left;
}
.myIdNotMyIdMsg2ComInt { /* общая часть тела сообщений - внутренний контейнер*/
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border-radius: 0.3rem;
    margin: 0.3rem;
    position: relative;

}

.myIdMessageInt { /* для моих сообщений - внутренний контейнер*/
    background-color: var(--color4);
    margin-left: 5rem;

}

.NOTmyIdMessageInt { /* для сообщений собеседника - внутренний контейнер*/
    background-color: var(--color2);
    margin-right: 5rem;

}

.Msg2DropDownMenuExt {  /* контесксное меню в каждом сообщении - внешний контейнер */
    position: absolute;
    right: 0.6rem;
    top: 0.4rem;

}

.Msg2DropDownMenuIntCommon{/* контесксное меню в каждом сообщении - внутренний контейнер */
    background-color: var(--color6_transparent);
    border-color: var(--color6_transparent);
    --bs-btn-padding-x: 0rem;
    --bs-btn-padding-y: 0;
    height: 0.7rem;
    --bs-btn-active-border-color: var(--color6_transparent);
    --bs-btn-active-bg: var(--color6_transparent);
    transform: scale(2);
    display: flex;
    align-items: center;
    border-radius: 0.1rem;
}

.Msg2DropDownMenuIntCommon:hover { /* контесксное меню в каждом сообщении - внешний контейнер */
    background-color: var(--color6_transparent);
    border-color: var(--color6_transparent);
    --bs-btn-hover-bg: var(--color6_transparent);
    --bs-btn-hover-border-color: var(--color6_transparent);
}

.Msg2DropDownMenuIntMy {
    color: var(--color2);
    --bs-btn-active-color:  var(--color2);
}
.Msg2DropDownMenuIntMy:hover {
    color: var(--color2);
}
.Msg2DropDownMenuIntNotMy {
    color: var(--color4);
    --bs-btn-active-color:  var(--color4);

}
.Msg2DropDownMenuIntNotMy:hover {
    color: var(--color4);
}
