.Button {
    position: fixed;
    left: 5rem;
    top: 10rem;
    z-index: 100;
}

.ErrorToast {
    z-index: 150;
    position: fixed;
    top: 3.5rem;
    right: 1rem;

}

.ErrorToastItem {
    margin: 0.5rem;
}

.ErrorToastItemRemove {
    margin: 0.5rem;
    transition: 2s ease-in;
    transform: scale3d(0.9, 0.9, 0.9);
    opacity: 0;
}
