.modal {
    position: fixed; /*зафиксировать подсветку без привязки к элементам*/
    left: 0; /*без отступов по краям экрана для затемнения */
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /*затемнение 50%*/
    display: flex; /*создание блока flex*/
    align-items: center; /*выравнивание по вертикали в центре*/
    justify-content: center; /*выравнивание по горизонтали в центре*/
    z-index: 10; /*поверх остальных окон*/
}

.modal_content {
    width: 500px; /*ширина модального окна*/
    background-color: red; /*фон окна белый*/
}

.modal_header, .modal_footer {
    padding: 1rem; /*отступ по краям*/
}

.modal_title { /*заголовок модального окна*/
    margin: 0;
}

.modal_body { /*тело модального окна*/
    padding: 1rem;/*отступ по краям*/
    border-top: 1px solid #eee ; /*верхняя часть тела отгорожена линией*/
    border-bottom: 1px solid #eee ; /*нижняя часть тела отгорожена линией*/
}









