.HeaderEditProfileForm {
    font-size: 20px;
    font-weight: bold;
}

.EditProfile {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.EditProfileContactsFields {
    padding-left: 2rem;
}

.errorText {
    color: red;
}
