.Fixed { /*общий стиль фиксирования*/
    position: fixed;
}

.dialog2HeaderCommon { /* шапка списка диалогов*/
    background: maroon;
    left: 0;
    top: 3.5rem;
    height: 5rem;
}

.dialog2ListCommon {   /* список диалогов, общее*/
    left: 0;
    top: 8.5rem;
    bottom: 1rem;
    overflow: auto;
    padding-bottom: 0.5rem;
}
.MobileDialogWidth { /* ширина диалогов на мобильных устройствах*/
    width: 100%;
}

.DesktopDialogWidth {
    width: var(--dialog2ListWidth); /* ширина диалогов на десктопах*/
}

.Dialog2ItemCardExt {  /*внешние общие стили карточки списка диалогов*/
    height: 5rem;
    width: 100%;
    position: relative;


}
.Dialog2ItemCardInt {  /*общие внутренние стили карточки*/
    background-color: var(--color3);
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    top: 0.5rem;
    bottom: 0;
    border-radius: 0.5rem;

}
.Dialog2ItemCardInt:hover { /*наведение на карточку*/
    background-color: var(--color3_hover);
    cursor: pointer;
}

.Dialog2ItemCardName { /*имя на карточке*/
    position: absolute;
    left: 7rem;
    top: 0.5rem;
    color: var(--color1)
}
.Dialog2ItemCardPhoto { /*фотка на карточке*/
    position: absolute;
    left: 1.5rem;
    top: 0.7rem;
    width: 3rem;
    height: 3rem;
    border-radius: 40%;
}

.Dialog2ItemCardNewMsgCnt { /* счеткик новых сообщений*/
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--color4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: var(--color1);

}
.Dialog2ItemCardMsgTime { /*время на карточке*/
    position: absolute;
    right: 0.3rem;
    bottom: 0.3rem;
    color: var(--color4);
    font-size: 0.8rem;
}
