.scrollCommon ::-webkit-scrollbar {
    display: none;
}

.arrows {
    width: 20px;
    opacity: 0.4;
    transition: 0.2s ease-in-out;

}
.arrows:hover {

    transform: scale(1.1) translate(+0px, 0px);
    -ms-transform: translate(0px, 0px);
}

