.header {
    padding: 5px;
    grid-area: h;
    background-image: url("../../assets/images/react-redux.png");
    background-size: 180px;
    background-repeat: no-repeat;
    background-color: rgba(139, 239, 0, 0.3);
    text-align: right;
}

.stretch-content{
    /* Will stretch to width/height of element */
}

.header img {
    height: 80px;
}
