.nav {
    grid-area: n;
    background-color: rgba(117, 190, 218, 0.4);
    padding: 10px;
}

.item {
    color: white;
}
/* Добавляем 2 стиля, к одному элементу item */
.active.item {
    color: blue;
}
