/* Container needed to position the button. Adjust the width as needed */



.profilePhotoIMG {
    border-radius: 30px;
    transition: 0.2s ease-in-out;

}
.profilePhotoIMG:hover {
    transform: scale(0.98) translate(+2px, 0);

}
.ImgHover {
    transform: scale(0.98) translate(+2px, 0);
    -ms-transform: translate(10px, 0px);
}
/*
Здесь добавить img Scale
*/
/* Make the image responsive */
.container {
    position: relative;
}
.container img  {
    width: 95%;
    height: auto;
}
/* Style the button and place it in the middle of the container/image */
.container .btn1 {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-52%, -52%);
    -ms-transform: translate(-52%, -52%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.displayNone {
    display: none;
}
.container .btn2 {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-52%, -52%);
    -ms-transform: translate(-52%, -52%);
    background-color: #555;
    color: white;
    font-size: 10px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container .btn:hover {
    background-color: black;
}
