/*<h2 className="d-flex justify-content-center text-uppercase mb-5">Users</h2>*/

.pageHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textMaxWidthCommon {
    overflow: hidden; /* Обрезаем содержимое */
    white-space: nowrap; /* Отменяем перенос текста */
    /*background: linear-gradient(to left, transparent 0%, var(--bs-body-color-my) 30%, var(--bs-body-color-my) 100%);*/
 /*   background: var(--bs-body-color-my);
    -webkit-background-clip: text;
    background-clip: text;*/
}

.textMaxWidthShort {
    max-width: 10rem;
}
.textMaxWidth18rem {
    max-width: 18rem;
}

.minwidth {
    width: 350px;
}

.cursorPointer {
    cursor: pointer;
}
.toCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
