/*<h2 className="d-flex justify-content-center text-uppercase mb-5">Users</h2>*/

.pageHeader {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.textMaxWidth {
    max-width: 8rem;
    overflow: hidden; /* Обрезаем содержимое */
    white-space: nowrap; /* Отменяем перенос текста */
    background: linear-gradient(to left, transparent 0%, black 30%, black 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.minwidth {
    width: 350px;
}
