/*
.textMaxWidth {
    max-width: 18rem;
    font-size: 3vh;
    white-space: nowrap; !* Отменяем перенос текста *!
    overflow: hidden; !* Обрезаем содержимое *!
    text-overflow: ellipsis; !* Многоточие *!
}

.textMaxWidth {
    max-width: 18rem;
    overflow: hidden;
    font-size: 3vh;
    white-space: nowrap;
    background: linear-gradient(to left, transparent 0%, black 30%, black 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}*/
