.descriptionBlock {
}

.profilePhotoIMG {
    border-radius: 30px;
    width: 300px;

}

.profileInfoGreed {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.buttonsPhotoUpload {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
