@import "base.scss"; /*глобальный импорт файла стилей в текущей папке*/

span {
  font-style: italic;
  font-size: 0.7rem;
  @include rows;/* применение миксина для всех b (шрифт bold 1...5)*/

}


.container1 {
  background: $pageBgColor2 ;
  border: 1px solid red;
  margin: 0 auto;
  color: black;
  p {
    @extend span; // применяем тот же стиль, что и для тега span
    @import "Folder1/Folder2/base2"; /*вложенный импорт удаленного файла*/
    background-color: $pageBgColor3;

  }
}

.container2 {
  a {
    @include a
  }
}
