.app-wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-areas:
        'h h'
        'i c';
    grid-template-rows: 60px 1fr; /*header и все остальное*/
    grid-template-columns: 4fr 6fr; /*4fr 6fr; /*распределение колокнок между полем информации, контентом и friendList*/
}

.app-wrapper-no-info { /*переключение на стиль без информационного поля слева*/
    display: grid;
    margin: 0 auto;
    grid-template-areas:
            'h'
            'c';
    grid-template-rows: 60px 5fr;
    grid-template-columns: 1fr;
}

.app-wrapper-info {
    grid-area: i;
    position: relative;

    z-index:1;

}
.app-wrapper-info::before {
    content:"";
    opacity: 0.3;
    position: absolute;

    z-index:-1;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:url("https://github.com/uchenick55/react-kabzda-1/blob/main2/src/assets/images/info.jpg?raw=true");
    background-size:cover;
}

.app-wrapper-content {
    grid-area: c;
    position: relative;

    z-index:1;

}
.app-wrapper-content::before {
    content:"";
    opacity: 0.2;
    position: absolute;

    z-index:-10;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:url("https://github.com/uchenick55/react-kabzda-1/blob/main2/src/assets/images/content.jpg?raw=true");
    background-size:cover;
}



.app-wrapper-navbar {
    grid-area: n;
    position: relative;
    z-index:1;

}
.app-wrapper-navbar::before {
    content:"";
    opacity: 0.4;
    position: absolute;

    z-index:-1;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:url("https://github.com/uchenick55/react-kabzda-1/blob/main2/src/assets/images/gradient.jpg?raw=true");
    background-size:cover;
}

