.app-wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-areas:
        'h h'
        'c n';
    grid-template-rows: 120px 1fr;
    grid-template-columns: 10fr 2fr;
}
.app-wrapper-content {
    grid-area: c;
}

