
.marginForMenu {
    margin-top: 3.5rem;
    padding-bottom: 1rem;
}

.aaa{
    color: green;
    background-color: yellow;
    --bs-body-color-my: pink;
    --bs-card-bg-my: blue;
    min-height:100vh;
}
.bbb {
    color: red;
    background-color: #3dd5f3;
    --bs-body-color-my: blue;
    --bs-card-bg-my: yellow;
    min-height:100vh;
}

