
.themeCommon {
    min-height:91vh; // растянуть на всю высоту экрана фон
    --bs-body-color-my: var(--color1); // фон градиента для текста в профиле
    color: var(--color1); // цвет основного текста
    background-color: var(--color2); // цвет основного фона
}


.light{
    --color1:  var(--bs-gray-800);
    --color2: var(--bs-gray-100);
    --color3: var(--bs-gray-300);// фон карточек users и сообщений в диалоге

    /*================================*/
    --opacity1: 1; //  прозрачность для пагинации в светлом режиме (не устанавливается)

}
.dark {
    --color1: var(--bs-gray-100);
    --color2: var(--bs-gray-800);
    --color3:  var(--bs-gray-600);// фон карточек users и сообщений в диалоге

    --opacity1: 0.25; // прозрачность для пагинации в темном режиме


    /*================================*/

}
.contentContainer {
    padding-top: 5rem;
}

