.usersListMessagesFixed {
    position: fixed;
    top: 3.4rem;
    left: 0;
    right: 0;
    bottom: 0;
}
.setDesktop {
    --usersListWidth: 25rem; /* ширина левой колонки usersList*/
}
.setMobile{
    --usersListWidth: 0; /* ширина левой колонки usersList*/
}
.usersListCommonFixed {
    position: fixed;
    left: 0rem;
    width: var(--usersListWidth);
    top:3.4rem;
    bottom: 1rem;
    background-color: rgba(100,100,100,0.5);
    overflow: auto;


}
.MessagesCommonFixed {
    position: fixed;
    left: var(--usersListWidth);
    right: 0;
    bottom: 1rem;
    background-color: #61dafb;
}
.userPhoto {
    border-radius: 50%;
    margin: 0.5rem 2rem;
    width: 2.5rem;
}
.messagesHeaderFixed {
    position: fixed;
    top: 3.4rem;
    left: var(--usersListWidth);
    right: 0;
    background-color: rgb(249,249,249);
    border-bottom: 1px solid var(--color1);
}
.messagesMiddleFixed {
    position: fixed;
    left: var(--usersListWidth);
    right: 0;
    top: 7rem;
    bottom: 4.4rem;
    overflow: auto;
}

.messagesFooterFixed {
    position: fixed;
    left: var(--usersListWidth);
    right: 0;
    bottom: 1rem;
    background-color: rgb(249,249,249);
    padding: 0.5rem;
    border-top: 1px solid var(--color1);
}




.myLink {
    color: var(--bs-gray-700);
}
