.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
    padding-top: 10px;
}

.dialogItems {

}
.dialog {

}
.dialog.active {
    color: white;
}

.dialog img {
    border-radius: 30px;
    width: 50px;
}

.messages {
    padding-top: 10px;
}

.messageItem {
}

