.dialogs {
    display: grid;
    grid-template-columns: 130px 1fr;
}

.dialog.active {
    color: white;
}

.dialog img {
    border-radius: 30px;
    width: 50px;
}

.FieldLeft {

}

.buttonRight {
padding-left: 10px;
padding-right: 10px
}

.FieldButtonGreed {
    display: grid;
    grid-template-columns: 1fr 65px;
}
