.dialogs {
    display: grid;
    grid-template-columns: 200px 1fr;
}
.dialogList {
    display: grid;
    grid-template-columns: 60px 1fr;


}

div.knopka {
    text-decoration: none; /* убирать подчёркивание у ссылок */

    user-select: none; /* убирать выделение текста */
    outline: none; /* убирать контур в Mozilla */
}
div.knopka:hover { background: rgb(100,100,255,0.2); } /* при наведении курсора мышки */

.dialog {
}
.dialogCurrent {
    background: rgb(100,100,255,0.5)
}

.dialogImg {
    border-radius: 30px;
    width: 50px;
    padding: 5px;
}

.FieldLeft {

}

.buttonRight {
padding-left: 10px;
padding-right: 10px
}

.FieldButtonGreed {
    display: grid;
    grid-template-columns: 1fr 65px;
}

.dialogContainer {
    background: rgb(255,50,50,0.2);
}

.x {
    width: 15px;
    padding-left: 5px;
}
