.myfriends {
    padding-top: 10px;

}

.myfriends img {
    border-radius: 30px;
    width: 50px;
}

.myfrienditems {
}

.currentDialog {
    font-weight: bold;
    color: coral;
}
.otherDialogs {
    padding: 10px;
}
.otherProfile {
    padding-right: 10px;
}



