.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.dialogItems {

}
.dialog {

}
.dialog.active {
    color: white;
}

.dialog img {
    border-radius: 30px;
    width: 50px;
}

.messages {

}

.message{

}

