.myfriends {
    padding-top: 10px;

}

.myfriends img {
}

.myFriendImgNameId {
    display: grid;
    grid-template-columns: 60px 1fr;

}

.myFriendImg {
    width: 50px;
    border-radius: 30px;
    transform: scale(1.1) rotate(3deg);
    transition: 0.2s ease-in-out

}
.myFriendImgHover {
    width: 50px;
    border-radius: 2rem;
    transform: scale(1) ;
    transition: 0.2s ease-in-out

}

.DialogProfileUnfollow img {
    width: 2rem;
}

.myFriendName {
    font-size: 0.8rem;
}

.dialogImg {
    padding: 1rem;
}
