.messageCommon {
    padding: 8px;
    width: max-content;
}

.timeStyle {
    font-size: 10px;
    text-align: right;
}

.x {
    width: 15px;
    padding-left: 5px;
}

.messageswrapper {
    display: grid;
    grid-template-areas:
            'notmy my';
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border-radius: 5px;

}

.messageMyId {
    display: grid;
    grid-template-columns: 1fr 15px;
    grid-area: my;
    padding: 5px;
    background-color: rgba(117, 190, 218, 0.5);
    border-radius: 5px;
}
.messageNotMyId {
    display: grid;
    grid-template-columns: 1fr 15px;
    grid-area: notmy;
    padding: 5px;
    background-color: rgba(0, 100, 218, 0.5);
    border-radius: 5px;

}

