.messageCommon {
    padding: 8px;
    width: max-content;
}
.messageMyId {
    padding: 5px;
    background-color: rgba(117, 190, 218, 0.5);
    border-radius: 5px;

}
.messageNotMyId {
    padding: 5px;
    background-color: rgba(0, 100, 218, 0.5);
    border-radius: 5px;

}

.timeStyle {
    font-size: 10px;
    text-align: right;
}

.x {
    width: 15px;
    padding-left: 5px;
}


